<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                <h2>Tienes nuevos eventos</h2>
            </div>

            <div class="card-body">
                <p>
                    Hey {{ name }}
                </p>
                <p>
                    Tienes nuevos eventos por revisar en tu cuenta.
                </p>
            </div>

            <div class="card-actions">
                <a class="raised-button" href="/404.html">Ver eventos</a>
            </div>
        </div>
    </body>
</html>